<div class="container">
	<div class="modal-content" data-ng-controller="EventController as ctrl">
		<div class="modal-header">
		<div class="modal-title col-sm-6">
			<h4 >LIST OF NEW EVENT'S</h4>
		</div>
		<div class="col-sm-6">
				<input class="pull-right form-control" type="text"  placeholder="Enter Text for Search" />
		</div>
        
      	</div>
      <div class="modal-body">
       <table class="table table-hover">
		<thead>
			<tr>
				<th>ID#</th>
				<th>Even Title</th>
				<th>Description</th>
				
				<th>Event Date</th>
				<th>Location</th>
				
			</tr>
		</thead>
		<tbody>
		<tr data-ng-show="!ctrl.events">
			<td colspan="5">
				<p><div class="alert-danger"><h2>Sorry..!!No Event Found.</h2></div></p>
			</td>
		</tr>
			<tr data-ng-repeat="event in ctrl.events">				
				<td width="10%">{{event.eventId}}</td>
				<td width="20%">{{event.eventTitle}}</td>
				<td width="40%">{{event.eventDescription}}</td>
				<td width="10%">{{event.eventDate}}</td>
				<td width="20%">{{event.eventVenue}}
			
				</td>
			</tr>
		</tbody>
	</table>
      </div>
      <div class="modal-footer" style="text-align: left;">
        	<span>Total No. of Records = {{ctrl.events.length}}</span>
        	<ul class="pagination pull-right" style="margin: 0 0;">
        		<li><button class="btn btn-default"
					>
					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button></li>
        		<li>1</li>
        		<li><button class="btn btn-default"
					data-ng-disabled="curPage >= Brands.length/pageSize - 1"
					data-ng-click="curPage = curPage+1">
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button></li>
        	</ul>
      </div>
	
	</div>
</div>


