<div class="container" data-ng-controller="BlogController as ctrl">
	<div class="row">
<div data-ng-show='ctrl.blog.errorMessage'>
						<div class="alert alert-danger">{{ctrl.blog.errorMessage}}</div>
					</div>
		<form name="form" data-ng-submit="ctrl.submit()" role="form">
			<div class="col-sm-12 modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center">Blog</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						<input type="text" name="blogTitle" id="blogTitle"
							class="form-control" data-ng-model="ctrl.blog.blogTitle"
							placeholder="Blog Title" required="required" /> <span
							class="help-block" data-ng-show="">Blog Title Is Required.</span>
					</div>

					<div class=" form-group">
						<textarea rows="4" cols="3" name="blogDescription"
							id="blogDescription" class="form-control"
							data-ng-model="ctrl.blog.blogDescription"
							placeholder="Blog Description" required="required"></textarea>
					</div>


				</div>
				<div class="modal-footer form-actions">
					<div class="col-sm-6">
						<button type="submit" class="btn btn-success btn-block">Create</button>
					</div>
					<div class="col-sm-6">
						<button type="reset" class="btn btn-info btn-block">Reset</button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>